<div class="panel panel-default">
    <div class="panel-heading overflow ">
        <div class="btn-group col-xs-6 p0">
            <button class="btn btn-default" ng-click="Tablist(item.type)" ng-repeat="item in tablist">{{item.name}}</button>
        </div>
        <div class="col-xs-3 col-xs-offset-3 p0">
            <div class="input-group">
                <div class="span input-group-addon">每页数</div>
                    <select name="" id="" ng-model="Limit" ng-change="Change_Limit(Limit)" class="form-control">
                    <option value="" selected hidden>请选择</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="topic_list" ng-repeat="item in Data" ui-sref='/detail({id:item.id})'>
            <div class="list-img">
                <img ng-src="{{item.author.avatar_url}}" alt="" title='{{item.author.loginname}}'>
            </div>
            <div class="list-content"><span ng-if="item.top" class="Posts_top">置顶</span><span ng-if="item.good&&!item.top" class="Posts_top">精华</span>{{item.title}}</div>
            <span class="list-parms">
                回复:<i>{{item.reply_count}}</i>/{{item.visit_count}}
            </span>
        </div>
    </div>
</div>